<template>
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <router-link :to="{name:'users'}" active-class="active" class="nav-link">Телефонный справочник</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'favourites'}" active-class="active" class="nav-link"">Моё избранное</router-link>
            </li>
        </ul>
        <br>
        <div class="card card-default">
            <div class="card-header">
                Избранное
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Телефон</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user,i) in users.data">
                            <td><input type="checkbox" v-model="export_users" :value="user.user_id"></td>
                            <th scope="row">{{user.user_id}}</th>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.phone}}</td>
                            <td>
                                <div class="float-right">
                                    <button v-if="user.favourite == 'loading'" type="button" disabled class="btn btn-outline-warning btn-sm">Загрузка</button>
                                    <button v-else-if="user.favourite === true" class="btn btn-outline-danger btn-sm" @click="unFavourite(user)">Удалить из избранного</button>
                                    <button v-else type="button" class="btn btn-outline-warning btn-sm" @click="favourite(user)">В избранное</button>
                                </div>
                            </td> 
                        </tr>
                    </tbody>
                </table>
                <b-pagination-nav align="center" :limit="10" base-url="javascript://" v-model="query.page"  :number-of-pages="users.meta.last_page"></b-pagination-nav>
            </div>
            <div class="card-footer text-center">
                <div class="btn-group" role="group" aria-label="">
                    <div class="btn btn-light btn-sm">Выбрано {{ export_users.length }} контактов</div>
                </div>
                <div class="btn-group" role="group" aria-label="" >
                    <button type="button" class="btn btn-outline-primary btn-sm" :disabled="export_users.length == 0" target="_blank" @click="exportUsers('pdf')">Экспорт в PDF</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" :disabled="export_users.length == 0" target="_blank" @click="exportUsers('xlsx')">Экспорт в XLSX</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import bPaginationNav from 'bootstrap-vue/es/components/pagination-nav/pagination-nav';
    import Vue from 'vue'
    import lodash from 'lodash'
    
    export default {
        data() {
            return {
                error: false,
                loading: false,
                users: {
                    data: [],
                    links: {},
                    meta: {
                        last_page: 1,
                        total: 1,
                    },  
                },
                query: {},
                sort: {},
                export_users: [],
                cProfile: this.profile,

            }
        },
        props: {
            profile: {
                type: Object,
                default: () => {
                    return {
                        first_name: '',
                        last_name: '',
                        phone: '',
                        id: '',
                    }
                },
            },
        },
        watch: {
            'query.page': function (val, oldVal) {
                this.navigate();
            },
        },
        components: {
            bPaginationNav, lodash
        },
        created() {
            //Vue.set(this,'query',Object.assign({}, this.$route.query, {page: Number(this.$route.query.page)}));
            //this.query = Object.assign({}, this.$route.query, {page: Number(this.$route.query.page)});
            this.load();
        },
        methods: {
            favourite: function(user) {
                Vue.set(user,'favourite','loading');
                axios.post('/api/favourites', { 
                        'user_id': this.cProfile.user_id,
                        'favourite_user_id': user.user_id,
                    })
                    .then((response) => {
                        Vue.set(user,'favourite',true);
                console.log(response.data);
                        Vue.set(user,'favourite_id',response.data.id);
                    })
                    .catch((error) => {
                        Vue.set(user,'favourite',false);
                    });
            },
            unFavourite: function(user) {
                Vue.set(user,'favourite','loading');
                axios.delete('/api/favourites/'+user.favourite_id)
                    .then((response) => {
                        Vue.set(user,'favourite',false);
                    })
                    .catch((error) => {
                        Vue.set(user,'favourite',true);
                    });
            },
            exportUsers: function(type) {
                var q = '';
                this.export_users.forEach(function(item, i, arr) {
                    q += 'users[]=' + item + '&';
                });
                q = q.substring(0, q.length - 1);
                window.open('/users/export?format=' + type + '&' + q);
            },
            navigate: function() {
                //this.$router.push({name: this.$route.name, query: this.query});
                this.load();
            },
            load: function() {
                axios.get('/api/favourites', { params: Object.assign({}, this.query ) })
                .then((response) => {
                    this.loading = false;
                    Vue.set(this, 'users', response.data);
                    Vue.set(this.query, 'page', Number(response.data.meta.current_page));
                })
                .catch((error) => {
                    this.error = error.data.message;
                    this.loading = false;
                });
            },
        }
    }

</script>