<template>
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <router-link :to="{name:'users'}" active-class="active" class="nav-link">Телефонный справочник</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'favourites'}" active-class="active" class="nav-link"">Моё избранное</router-link>
            </li>
        </ul>
        <br>
        <div class="card card-default">
            <div class="card-header">Мой профиль</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <label for="first_name">Имя</label><br>
                        <input class="form-control" name="first_name" v-model="cProfile.first_name" />
                    </div>
                    <div class="col-sm">
                        <label for="last_name">Фамилия</label><br>
                        <input class="form-control" name="last_name" v-model="cProfile.last_name" />
                    </div>
                    <div class="col-sm">
                        <label for="phone">Телефон</label><br>
                        <input class="form-control" name="phone" v-model="cProfile.phone" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <span v-if="profile_saving == 1" class="text-info">Сохранение</span>
                    <span v-else-if="profile_saving == 2" class="text-success">Успешно сохранено</span>
                    <span v-else-if="profile_saving == 3" class="text-danger">Ошибка при сохранении</span>
                    <span v-else>Измените данные</span>
                </small>
                <div class="clearfix"></div>
            </div>
        </div>
        <br />
        <div class="card card-default">
            <div class="card-header">Фильтр</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <label for="first_name">Имя</label><br>
                        <input class="form-control" name="first_name" v-model="query.first_name" />
                    </div>
                    <div class="col-sm">
                        <label for="last_name">Фамилия</label><br>
                        <input class="form-control" name="last_name" v-model="query.last_name" />
                    </div>
                    <div class="col-sm">
                        <label for="phone">Телефон</label><br>
                        <input class="form-control" name="phone" v-model="query.phone" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-sm btn-primary" type="button" @click="navigate()" v-if="!loading">Показать</button>
                        <button class="btn btn-sm btn-primary" type="button" disabled="disabled" v-if="loading">Загрузка...</button>
                    </div>
                    <div class="col-sm-9">
                        <div class="text-right">Всего контактов: {{users.meta.total}}. Показываются с {{users.meta.from}} по {{users.meta.to}}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <br />
        <div class="card card-default">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th scope="col">Имя <a href="javascript://" @click="toggleSort('first_name')">- <template v-if="sort.sort_column == 'first_name'">{{sort.sort_order}}</template></a></th>
                            <th scope="col">Фамилия <a href="javascript://" @click="toggleSort('last_name')">- <template v-if="sort.sort_column == 'last_name'">{{sort.sort_order}}</template></a></th>
                            <th scope="col">Телефон <a href="javascript://" @click="toggleSort('phone')">- <template v-if="sort.sort_column == 'phone'">{{sort.sort_order}}</template></a></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user,i) in users.data">
                            <td><input type="checkbox" v-model="export_users" :value="user.user_id"></td>
                            <th scope="row">{{user.user_id}}</th>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.phone}}</td>
                            <td>
                                <div class="float-right">
                                    <button v-if="user.favourite == 'loading'" type="button" disabled class="btn btn-outline-warning btn-sm">Загрузка</button>
                                    <small v-else-if="user.favourite === true" class="text-info">В избранном</small>
                                    <button v-else type="button" class="btn btn-outline-warning btn-sm" @click="favourite(user)">В избранное</button>
                                </div>
                            </td> 
                        </tr>
                    </tbody>
                </table>
                <b-pagination-nav align="center" :limit="10" base-url="javascript://" v-model="query.page"  :number-of-pages="users.meta.last_page"></b-pagination-nav>
            </div>
            <div class="card-footer text-center">
                <div class="btn-group" role="group" aria-label="">
                    <div class="btn btn-light btn-sm">Выбрано {{ export_users.length }} контактов</div>
                </div>
                <div class="btn-group" role="group" aria-label="" >
                    <button type="button" class="btn btn-outline-primary btn-sm" :disabled="export_users.length == 0" target="_blank" @click="exportUsers('pdf')">Экспорт в PDF</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" :disabled="export_users.length == 0" target="_blank" @click="exportUsers('xlsx')">Экспорт в XLSX</button>
                </div>
            </div>
        </div>
        
    </div>
</template>
<script>
    import bPaginationNav from 'bootstrap-vue/es/components/pagination-nav/pagination-nav';
    import Vue from 'vue'
    import lodash from 'lodash'
    
    export default {
        data() {
            return {
                error: false,
                loading: false,
                users: {
                    data: [],
                    links: {},
                    meta: {
                        last_page: 1,
                        total: 1,
                    }                    
                },
                query: {},
                sort: {},
                export_users: [],
                profile_saving: 0,
                cProfile: this.profile,
            }
        },
        props: {
            profile: {
                type: Object,
                default: () => {
                    return {
                        first_name: '',
                        last_name: '',
                        phone: '',
                        id: '',
                    }
                },
            },
        },
        watch: {
            'query.page': function (val, oldVal) {
                this.navigate();
            },
            
            cProfile: {
                handler(val, oldVal) {
                    this.updateProfile();
                },
                deep: true,
            },
        },
        components: {
            bPaginationNav, lodash
        },
        created() {
            //Vue.set(this,'query',Object.assign({}, this.$route.query, {page: Number(this.$route.query.page)}));
            //this.query = Object.assign({}, this.$route.query, {page: Number(this.$route.query.page)});
            this.load();
        },
        methods: {
            favourite: function(user) {
                Vue.set(user,'favourite','loading');
                axios.post('/api/favourites', { 
                        'user_id': this.cProfile.user_id,
                        'favourite_user_id': user.user_id,
                    })
                    .then((response) => {
                        Vue.set(user,'favourite',true);
                    })
                    .catch((error) => {
                        Vue.set(user,'favourite',false);
                    });
            },
            exportUsers: function(type) {
                var q = '';
                this.export_users.forEach(function(item, i, arr) {
                    q += 'users[]=' + item + '&';
                });
                q = q.substring(0, q.length - 1);
                window.open('/users/export?format=' + type + '&' + q);
            },
            updateProfile: _.debounce(
                function() {
                    Vue.set(this,'profile_saving',1);
                    axios.put('/api/users/' + this.cProfile.user_id, { 
                            'first_name': this.cProfile.first_name,
                            'last_name': this.cProfile.last_name,
                            'phone': this.cProfile.phone,
                        })
                        .then((response) => {
                            Vue.set(this,'profile_saving',2);
                        })
                        .catch((error) => {
                            Vue.set(this,'profile_saving',3);
                        });
                }, 500
            ),
            toggleSort: function(column) {
                var sort = this.sort;
                if(sort.sort_column != column) {
                    sort.sort_column = column;
                    sort.sort_order = 'asc';
                } else {
                    switch(sort.sort_order) {
                        case 'asc':
                            sort.sort_order = 'desc';
                            break;
                        case 'desc':
                            sort = {};
                            break;
                        default:
                            sort.sort_order = 'asc';
                            break;
                    }
                }
                Vue.set(this,'sort',sort);

                this.load();
            },
            navigate: function() {
                //this.$router.push({name: this.$route.name, query: this.query});
                this.load();
            },
            load: function() {
                axios.get('/api/users', { params: Object.assign({}, this.query, this.sort ) })
                .then((response) => {
                    this.loading = false;
                    Vue.set(this, 'users', response.data);
                    Vue.set(this.query, 'page', Number(response.data.meta.current_page));
                })
                .catch((error) => {
                    this.error = error.data.message;
                    this.loading = false;
                });
            },
        }
    }

</script>